<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeteksiApp"
        tools:targetApi="31">
        <activity
            android:name=".splashscreenActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".TentangActivity"
            android:exported="false" />
        <activity
            android:name=".PakaianActivity"
            android:exported="false" />
        <activity
            android:name=".LogamActivity"
            android:exported="false" />
        <activity
            android:name=".KacaActivity"
            android:exported="false" />
        <activity
            android:name=".KardusActivity"
            android:exported="false" />
        <activity
            android:name=".PhotosActivity"
            android:exported="false" />
        <activity
            android:name=".KertasActivity"
            android:exported="false" />
        <activity
            android:name=".PlastikActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
    </application>

</manifest>